@page
@model             ExerciseModel

@{
    ViewData["Title"] = "Exercise";
}

<h1>Exercise</h1>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Exercise.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Exercise.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Exercises">Back to List</a>
</div>
