@page
@model FinerFettle.Web.Pages.Workout.ExercisesModel

@{
    ViewData["Title"] = "Exercises";
}

<h1>Exercises</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Workout[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Workout) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Exercise" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
