details[open] {
    bottom: env(safe-area-inset-bottom);
}

.cursor--pointer {
    cursor: pointer;
}

.filter-exercises {
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin: calc(-1 * var(--bs-alert-padding-y)) calc(-1 * var(--bs-alert-padding-x));
}

::deep .exercise {
    flex: 1 0 300px !important;
}

.search-form {
    max-height: 100vh;
    position: fixed;
    overflow: auto;
    z-index: 1;
    right: 0;
    top: 0;
}
