@model Lib.ViewModels.Newsletter.NewsletterViewModel

@{
    Layout = "_Blank";
}

<component type="typeof(Lib.Pages.Newsletter.Debug)" render-mode="Static" param-Model='Model' />

@*
<partial name="Newsletter/_Preview" model='$"{exerciseNames}"' />

<div style="margin-block:1rem;">
    <h6 style="margin-block:0;"><i>@DateTime.UtcNow.ToLongDateString()</i></h6>
    <h1 style="margin-block:0;">Debug</h1>
    <h4 style="margin-block:0;display:inline-block;">@exerciseNames</h4>
</div>

@await Component.InvokeAsync(FootnoteViewComponent.Name, new { Model.User, Count = Model.FootnoteCount, OfType = FootnoteType.All })

<div style="margin-block:1rem;">
    <partial name="Exercise/_ExerciseSection" model='new ExerciseSectionViewModel(Model.DebugExercises, Verbosity.Debug, ExerciseTheme.Extra)' />
</div>

<div style="margin-block:1rem;">
    <partial name="Exercise/_Debug" />
</div>

<hr style="margin-block:1ex;">

@await Component.InvokeAsync(FooterViewComponent.Name, new { Model.User })
*@