root = true

[*]
# IDE0290: Use primary constructor - fields are not readonly.
dotnet_diagnostic.IDE0290.severity = none

# CS1998: Async method lacks 'await' operators and will run synchronously - not an issue.
dotnet_diagnostic.CS1998.severity = none

# CA1860: Avoid using 'Enumerable.Any()' extension method - causes poor EF Core query performance.
dotnet_diagnostic.CA1860.severity = none

# CS0162: Unreachable code detected
dotnet_diagnostic.CS0162.severity = silent

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = silent

# Dead Code Rules
dotnet_diagnostic.CA1801.severity = warning
dotnet_diagnostic.CA1804.severity = warning
dotnet_diagnostic.CA1811.severity = warning
dotnet_diagnostic.CA1812.severity = warning
dotnet_diagnostic.CA1823.severity = warning