@model UnsupportedClientViewModel

<div class="alert alert-warning" role="alert">
    <div class="mb-3">
        <b>@Model.Client.GetSingleDisplayName() is not a supported email client.</b>
    </div>

    <div class="small">Emails may not render correctly.</div>
</div>
