@model Web.ViewModels.User.UserEditViewModel

@{
    ViewData[ViewData_Blank.Title] = "Delete Account";
}

<div class="row gy-3 mb-3 mt-0 justify-content-between align-items-end">
    <div class="col-auto">
        <h1 class="primary-heading">Delete Account</h1>
        <h2 class="secondary-heading">Please confirm your email and delete your account below</h2>
    </div>
    <div class="m-0--empty">
        @if (TempData[TempData_User.SuccessMessage] != null)
        {
            <div class="alert alert-success alert-dismissible mb-1" role="alert">
                <span>@TempData[TempData_User.SuccessMessage]</span>
                <button type="button" class="btn-close" data-dismiss=".alert" aria-label="Close"></button>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.DeleteConfirmed)" method="post"
              class="alert alert-light shadow">
            <input type="hidden" asp-for="Token" />

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" disabled="disabled" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-danger" aria-describedby="delete-help" />
                <div id="delete-help" class="form-text">All of your data will be permanently deleted.</div>
            </div>
        </form>
    </div>
</div>
