@model UserEditViewModel
@using System.Numerics
@using Core.Models.Exercise
@using Core.Models.User
@using Core.Consts
@using Data.Entities.Users
@using Data.Entities.Equipment
@using Web.Code.Extensions

@{
    ViewData[ViewData_Blank.Title] = "Preferences";
}

<div class="row gy-2 mb-2 mt-1 justify-content-between align-items-end">
    <div class="col-auto mb-3">
        <h1 class="primary-heading">Preferences</h1>
    </div>
    <partial name="_ValidationMessagePartial" model='new ValidationMessagePartialModel() { WasUpdated = Model.WasUpdated }' />
</div>

@await Component.InvokeAsync(EditViewComponent.Name, new { Model.User })

@section Scripts {
    <partial name="_ValidationScriptsPartial" model='new ValidationScriptsPartialViewModel() { IsDemoUser = Model.User.IsDemoUser }' />
}
