@model ViewModels.User.DeloadViewModel
@using Models.Exercise

<div class="alert alert-primary" role="alert">
    @if (Model.NeedsDeload)
    {
        <b>You are currently in a deload week.</b>
    }
    else
    {
        <b>Your next deload week will start in @Model.TimeUntilDeload.TotalDays days.</b>
    }
    <hr />
    <small>Deloads are weeks of lower intensity workouts. Used to recover from soreness, fatigue, and inflammation by reducing the strain placed upon your body.</small>
</div>
