@model RehabViewModel

<div class="alert alert-warning" role="alert">
    <details>
        <summary>
            <b>You have a Rehab Focus group selected. Workouts are excluding exercises that work your @Model.RehabFocus.GetSingleDisplayName().</b>
        </summary>

        <div class="mt-3 small">For minor ailments, select @Model.RehabFocus.GetSingleDisplayName() in the Prehab Focus section.</div>
    </details>
</div>
