@page

@{
    ViewData[ViewData_Blank.Title] = "Attribution";
}

<h1 class="primary-heading mt-25">Attribution</h1>
<ul class="list-group list-group-flush mt-3">
    <li class="list-group-item">
        favicon.png, favicon.svg & variations:
        <a href="https://icons8.com/icon/22430/heart-health" target="_blank" rel="noreferrer">Heart Health</a> icon by <a href="https://icons8.com" target="_blank" rel="noreferrer">Icons8</a>.
    </li>
    <li class="list-group-item">
        All other images licensed from <a href="https://stock.adobe.com/" target="_blank" rel="noreferrer">Adobe Stock</a>.
    </li>
</ul>
