@page

@{
    ViewData[ViewData_Blank.Title] = "Account Deletion";
}

<section id="account-deletion">
    <h1 class="primary-heading">Account Deletion</h1>

    <p>To delete your account, login and navigate to the preferences page, then click on 'Delete Account'.</p>
    <p>You will be asked to confirm the deletion. Click 'Delete' to proceed with account deletion. Your account will immediately be deleted and is not recoverable.</p>

    <section id="information">
        <h2 class="secondary-heading">Retention Period</h2>
        <p>Data may be retained in database backups for up to 1 week.</p>
    </section>

    <section id="contact">
        <h2 class="secondary-heading">Contact Us</h2>
        <p>If you have any questions about account deletion, please contact us at <a href="mailto:delete@@@_siteSettings.Value.Domain">delete@@@_siteSettings.Value.Domain</a>.</p>
    </section>
</section>