@page

@{
    ViewData[ViewData_Blank.Title] = "Attribution";
}

<div class="mt-4">
    favicon.png, favicon.svg & variations:
    <a target="_blank" href="https://icons8.com/icon/22430/heart-health">Heart Health</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <hr />

    All other images licensed from https://stock.adobe.com/
</div>