@page
@model Web.Pages.LoginPageModel

@{
    ViewData[ViewData_Blank.Title] = "Login";
}

<div class="row gy-2 mb-2 mt-1 justify-content-between align-items-end">
    <div class="col-auto mb-3">
        <h1 class="primary-heading">Consistent fitness starts here</h1>
        <h2 class="secondary-heading">A personalized workout routine delivered to your inbox daily</h2>
    </div>
    <partial name="_ValidationMessagePartial" model='new ValidationMessagePartialModel()' />
</div>

<div class="row gy-4">
    <div class="col-12 col-lg-5 col-xl-4">
        <div class="alert alert-secondary mb-0">
            <h6 class="mt-0 mb-1">Login</h6>
            <form method="post" class="alert alert-light shadow mb-0">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" autocomplete="email"
                           onchange="localStorage.setItem('email', this.value);" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Token" class="form-label"></label>
                    <input asp-for="Token" class="form-control" autocomplete="current-password"
                           onchange="localStorage.setItem('token', this.value);" />
                    <span class="form-text">Navigate to the preferences page and click on 'New Token' to generate a new pwa token.</span>
                    <span asp-validation-for="Token" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-caps font-weight--semibold">LOG IN</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" model='new ValidationScriptsPartialViewModel()' />
    @if (TempData.Peek(TempData_User.FailureMessage) == null)
    {
        <script type="module">
            const email = localStorage.getItem('email');
            const token = localStorage.getItem('token');

            document.getElementById('@Html.IdFor(_ => Model.Email)').value = email;
            document.getElementById('@Html.IdFor(_ => Model.Token)').value = token;

            if (email && token) {
                document.forms[0].submit();
            }
        </script>
    }
}