@page
@model IndexModel
@using Controllers

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-controller="@NewsletterController.Name" asp-action="@nameof(NewsletterController.Index)">Newsletter</a> |

    <a asp-controller="@UserController.Name" asp-action="@nameof(UserController.Create)">Sign up</a>
</div>
