@page
@model IndexModel
@using Controllers

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-action="@nameof(NewsletterController.Newsletter)">Newsletter</a> |

    <a asp-page="./Workout/Exercises">View Exercises</a> |

    <a asp-page="./User/Create">Sign up</a>
</div>
