@page
@model IndexModel
@using Controllers

@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Consistent fitness starts here</h1>

<h4>A personalized workout routine delivered to your inbox daily</h4>

<div class="d-flex flex-wrap">
    <a class="btn btn-primary btn-caps align-self-start mt-3" asp-controller="@UserController.Name" asp-action="@nameof(UserController.Create)">Join the movement</a>

    <!-- View is used in emails. Remove page styling by rendering it in an iframe -->
    <iframe class="flex-grow-1 border border-5 m-3" style="flex-basis: 300px;height:80vh"
        title="Demo - Finer Fettle"
        src="@Url.ActionLink(nameof(NewsletterController.Newsletter), NewsletterController.Name, new { Email = "demo@test.finerfettle.com", Demo = true })"></iframe>
</div>
