@using Lib.ViewModels.Equipment;
@using Core.Models.Exercise

@(new MarkupString(String.Join(", ", UserEquipment
    .Select(e => e.Name)
    .Concat(AllEquipment
        .Except(UserEquipment)
        .Select(e => $"<span style='color:darkred'>{e.Name}</span>")
    )
)))

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public IList<EquipmentViewModel> UserEquipment { get; set; } = null!;

    [Parameter]
    [SupplyParameterFromQuery]
    public IList<EquipmentViewModel> AllEquipment { get; set; } = null!;
}