@inherits LayoutComponentBase

<ErrorBoundary>
    <ChildContent>
        @Body
    </ChildContent>
    <ErrorContent Context="ex">
        <p>@ex.Message</p> @*prints exeption on page*@
    </ErrorContent>
</ErrorBoundary>
