@model EquipmentViewModel
@using Core.Models.Exercise

<div class="alert @(Model.Status == EquipmentViewModel.UserEquipmentStatus.MissingEquipment ? "alert-danger" : "alert-warning")" role="alert">
    <details>
        <summary>
            <b>Your selected equipment does not provide sufficient resistance necessary for strength training.</b>
        </summary>

        <div class="mt-3 small">Missing (any of): @EquipmentViewModel.ResistanceEquipments.GetDisplayName32().</div>
    </details>
</div>