@model ViewModels.User.NextWorkoutViewModel
@using Models.Exercise

@if (Model.TimeUntilNextSend.HasValue)
{
    <div class="alert alert-info" role="alert">
        @if (Model.TimeUntilNextSend.Value.TotalHours < 1)
        {
            <div>You're next workout is sending soon.</div>
        }
        else
        {
            <div>You're next workout will send in @Model.TimeUntilNextSend.Value.TotalHours.ToString("F0") hours.</div>
        }
    </div>
}