@model ViewModels.User.MonthlyMusclesViewModel
@using Extensions
@using Models.Exercise

@{
    const double MinSetsPerWeek = 8d;
    const double MaxSetsPerWeek = 18d;
    var setsPerWeekAlertType = Model.WeeklyMusclesWorkedOverMonthAvg switch
    {
        > MaxSetsPerWeek => "alert-danger",
        < MinSetsPerWeek => "alert-warning",
        _ => "alert-success"
    };
}

<div class="alert @setsPerWeekAlertType" role="alert">
    <div>You are working ~@Model.WeeklyMusclesWorkedOverMonthAvg.ToString("F0") sets of each muscle group per week.</div>
    <div style="margin-top:1rem;"><small>Aim for between @MinSetsPerWeek and @MaxSetsPerWeek sets per week. Too many sets per week can lead to joint pain and overuse injuries. Too few sets per week may not result in any noticeable strength gain. Beginner lifters are should skew towards the lower end of the range.</small></div>
</div>

@if (Model.User.Email.EndsWith("finerfettle.com") || Model.User.Email.EndsWith("tscanlon.com"))
{
    <div class="alert alert-info" role="alert">
        <h3>Weekly Muscle Targets (beta)</h3>
        @foreach (var muscleGroup in EnumExtensions.GetSingleValues32<MuscleGroups>())
        {
            var majorMuscles = MuscleGroups.Glutes
                | MuscleGroups.Abdominals
                | MuscleGroups.Hamstrings
                | MuscleGroups.Pectorals
                | MuscleGroups.Quadriceps
                | MuscleGroups.Trapezius
                | MuscleGroups.Obliques;
            var min = 4 * (majorMuscles.HasFlag(muscleGroup) ? 9 : 6);
            var max = 4 * (majorMuscles.HasFlag(muscleGroup) ? 21 : 15);
            var value = 4 * Model.WeeklyMusclesWorkedOverMonth[muscleGroup];
            var color = value switch
            {
                int i when i > max => "red",
                int i when i < min => "orange",
                _ => "palegreen",
            };
                <div style="display:flex;justify-content:space-between;column-gap:1rem;">
                    <span style="display:flex;">@muscleGroup.GetSingleDisplayName() (@(Model.WeeklyMusclesWorkedOverMonth[muscleGroup]))</span>
                    <div style="display:flex;width:50%;align-items:center;">
                        <span style="height:10px;width:100%;border-radius:9in;background:linear-gradient(90deg, @color 0% @value%, rgba(0,0,0,.1) @value% 100%)"></span>
                    </div>
                </div>
        }
    </div>
}
