<h2>Checklist</h2>
<ul>
    <li>Can this exercise be done as a warmup or cooldown?</li>
    <li>Is there any equipment that can be used and is not listed?</li>
</ul>

<h2>Considerations</h2>
<ul>
    <li>
        Weighted exercises such as the lateral raise should not have an unweighted instruction. 
        The unweighted instruction is too easy for people who are strength training and don't have any of the exercise's equipment. 
        If the user is too injured to be able to do the recovery exercise with weights, then they should be in physical therapy.
    </li>
</ul>


<h2>Variations</h2>

<ul>
    <li>Pike and Downward Dog are different exercises.</li>
    <li>Cobra and Upward Facing Dog are different exercises.</li>
</ul>


<h3>Muscles Worked</h3>

<ul>
    <li><b>Abdominals</b> - </li>
    <li><b>Biceps</b> - </li>
    <li><b>Deltoids</b> - </li>
    <li><b>Pectorals</b> - </li>
    <li><b>Obliques</b> - </li>
    <li><b>Trapezius</b> - </li>
    <li><b>Lats</b> - </li>
    <li><b>Spinal Erectors</b> - </li>
    <li><b>Glutes</b> - </li>
    <li><b>Hamstrings</b> - </li>
    <li><b>Calves</b> - </li>
    <li><b>Quadriceps</b> - </li>
    <li><b>Triceps</b> - </li>
    <li><b>Hip Flexors</b> - </li>
    <li><b>Forearms</b> - </li>
    <li><b>Hip Adductors</b> - </li>
    <li><b>Rotator Cuffs</b> - Strengthens when elevating the shoulder out to the side or externally rotating the shoulder.</li>
    <li><b>Rhomboids</b> - </li>
    <li><b>Serratus Anterior</b> - Strengthens through scapular protraction (scapular push/pull) and scapular upward rotation (raising arm overhead).</li>
</ul>

<ul>
    <li><b>Abdominals</b> - </li>
    <li><b>Biceps</b> - </li>
    <li><b>Deltoids</b> - </li>
    <li><b>Pectorals</b> - </li>
    <li><b>Obliques</b> - </li>
    <li><b>Trapezius</b> - </li>
    <li><b>Lats</b> - </li>
    <li><b>Spinal Erectors</b> - </li>
    <li><b>Glutes</b> - </li>
    <li><b>Hamstrings</b> - </li>
    <li><b>Calves</b> - </li>
    <li><b>Quadriceps</b> - </li>
    <li><b>Triceps</b> - </li>
    <li><b>Hip Flexors</b> - </li>
    <li><b>Forearms</b> - </li>
    <li><b>Hip Adductors</b> - </li>
    <li><b>Rotator Cuffs</b> - Stretches when externally rotating the shoulder (across or behind body) or having the arm raised in an extended position (sa. hanging).</li>
    <li><b>Rhomboids</b> - </li>
    <li><b>Serratus Anterior</b> - Stretches when moving the arm back from the body (sa. twisting) or having the arm raised in an extended position (sa. hanging).</li>
</ul>

<h4>Planks</h4>

<p>
    While front planks primary work the anterior muscle chain and reverse planks work the posterior muscle chain,
    they both work the abs, obliques, and spinal erectors to some degree.
    Shoulders are also engaged, however they are better worked by shoulder isolation exercises.
</p>

<ul>
    <li>Planks strengthen the abs, obliques, spinal erectors, and hip flexors; stabilize the quads and front deltoids.</li>
    <li>Side Planks strengthen the abs, obliques, spinal erectors, glutes and hip adductors; stabilize the side deltoids.</li>
    <li>Reverse Planks strengthen the abs, obliques, spinal erectors, and glutes; stabilize the hamstrings and rear deltoids.</li>
    <li>Quadruped Planks strengthen the abs, obliques, and spinal erectors; stabilize the hip flexors, quads, and front deltoids.</li>
    <li>Reverse Quadruped Planks strengthen the abs, obliques, spinal erectors, and glutes; stabilize the hamstrings and rear deltoids.</li>
    <li>Pike Planks strengthen the abs, deltoids, obliques, spinal erectors, triceps, and serratus anterior; stabilize the forearms, biceps, traps, rhomboids, and rotator cuffs.</li>
    <li>Handstands strengthen the abs, deltoids, obliques, spinal erectors, triceps, and serratus anterior; stabilize the forearms, biceps, traps, rhomboids, and rotator cuffs.</li>
</ul>

<h3>Isometrics</h3>


<h4>Bilateral Isometrics</h4>

<p>Aim for 120s time under tension:</p>

<ul>
    <li>(0) Endurance: 4x30s</li>
    <li>(1) Hypertrophy: 3x40s</li>
    <li>(2) Strength: 2x60s</li>
    <li>(3) Stabilization: 5x24s</li>
</ul>


<h4> Unilateral Isometrics</h4>

<p>Aim for 60s time under tension for each side:</p>

<ul>
    <li>(0) Endurance: 4x15s</li>
    <li>(1) Hypertrophy: 3x20s</li>
    <li>(2) Strength: 2x30s</li>
    <li>(3) Stabilization: 5x12s</li>
</ul>



<h2>Intensity</h2>

<h3>Proficiency</h3>

<p>Main exercise progressions should be at least 10 apart.</p>

<p>Mobility variations (sa. Lateral Lunge with Overhead Reach) of exercises should be 5 more than their core variation (sa. Lateral Lunge).</p>



<h2>Instructions</h2>

<p>All linked instructions (incl. instruction_locations) should be a short (1-2min) walkthrough of how the exercise should be performed.</p>
