@model PostrequisiteViewModel
@using Core.Models.Exercise
@using Data.Entities.Users
@using Lib.Pages.Shared.Exercise
@using Web.Views.Shared.Components.Prerequisite

@if (Model.VisiblePostrequisites.Any() || Model.InvisiblePostrequisites.Any())
{
    <details class="mt-4 mb-1 pt-1" @(Model.Open ? "open" : "")>
        <summary class="mb-1 h5">
            <span style="color:@(Model.InvisiblePostrequisites.Any() ? "palevioletred" : "lightgreen")">Postrequisites</span>
            <span class="float-end">@(Model.VisiblePostrequisites.GroupBy(vm => vm.Exercise).Count() + Model.InvisiblePostrequisites.GroupBy(vm => vm.Exercise).Count())</span>
        </summary>

        @foreach (var exercise in Model.InvisiblePostrequisites.GroupBy(e => e, new PrerequisiteViewModel.ExerciseSectionComparer()).OrderBy(e => e.Key.Exercise.Name))
        {
            <component type="typeof(Lib.Pages.Shared.Exercise.ExerciseSection)" render-mode="Static" param-User="Model.UserNewsletter" param-Exercises='exercise' param-Theme='ExerciseTheme.Warmup' param-Verbosity="Model.Verbosity" param-Title="@(new ExerciseSection.Titles(exercise.Key.Exercise.Name, $"Requires proficiency of {Model.ExerciseProficiencyMap[exercise.Key.Exercise.Id]}%"))" />
        }

        @foreach (var exercise in Model.VisiblePostrequisites.GroupBy(e => e, new PrerequisiteViewModel.ExerciseSectionComparer()).OrderBy(e => e.Key.Exercise.Name))
        {
            <component type="typeof(Lib.Pages.Shared.Exercise.ExerciseSection)" render-mode="Static" param-User="Model.UserNewsletter" param-Exercises='exercise' param-Theme='ExerciseTheme.Extra' param-Verbosity="Model.Verbosity" param-Title="@(new ExerciseSection.Titles(exercise.Key.Exercise.Name, $"Requires proficiency of {Model.ExerciseProficiencyMap[exercise.Key.Exercise.Id]}%"))" />
        }
    </details>
}
