<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/a96497e4-9abd-4a20-a58f-d2eb563eb642/resourceGroups/finerfettle/providers/Microsoft.Web/sites/finerfettle</ResourceId>
    <ResourceGroup>finerfettle</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://finerfettle.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>32a3f488-bf90-4c92-9e3d-85a608cb4b4a</ProjectGuid>
    <PublishUrl>https://finerfettle.scm.azurewebsites.net/</PublishUrl>
    <UserName>$finerfettle</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>