@model WorkoutsPerWeekViewModel

@{
    var workoutDaysPerWeekAlertType = Model.User.WorkoutsDays switch
    {
        _ when Model.User.WorkoutsDays > (Model.MaxWorkoutsPerWeek + 1) || Model.User.WorkoutsDays < (Model.MinWorkoutsPerWeek - 1) => "alert-danger",
        _ when Model.User.WorkoutsDays == (Model.MaxWorkoutsPerWeek + 1) || Model.User.WorkoutsDays == (Model.MinWorkoutsPerWeek - 1) => "alert-warning",
        _ => "alert-success"
    };
}

<div class="alert @workoutDaysPerWeekAlertType" role="alert">
    <details>
        <summary>
            <b>You are working out for @Model.User.WorkoutsDays days each week.</b>
        </summary>

        <div class="mt-3 small">For your @Model.User.Frequency.GetSingleDisplayName(EnumExtensions.DisplayType.ShortName) workout split, aim for @(Model.MinWorkoutsPerWeek == Model.MaxWorkoutsPerWeek ? $"{Model.MinWorkoutsPerWeek}" : $"between {Model.MinWorkoutsPerWeek} and {Model.MaxWorkoutsPerWeek}") workouts per week. Too many workouts per week does not allow for enough recovery time and can lead to joint pain and overuse injuries. Too few workouts per week may not result in any noticeable strength gain. Beginner lifters should skew towards the lower end of the range.</div>
    </details>
</div>
