@model FinerFettle.Web.ViewModels.User.UserViewModel

@{
    ViewData["Title"] = "Unsubscribe";
}

<h1>We're sorry to see you go</h1>

<h4>Please confirm your email and unsubscribe below</h4>
<hr />

<div class="row">
    <div class="col-md-10 col-lg-8 col-xl-6">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Token" />

            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" disabled="disabled" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Unsubscribe" class="btn btn-danger" aria-describedby="delete-help" />
                <div id="delete-help" class="form-text">All of your data will be permanently deleted.</div>
            </div>
        </form>
    </div>
</div>
