@model ViewModels.User.StatusMessageViewModel

@{
    if (Model.Demo) {
        Layout = "_Blank";
    }
}

<p>@Model.Message</p>

@if (Model.AutoCloseInXSeconds.HasValue) {
    <p id="auto-close-warning">Attempting to go back in <span id="delay-duration" data-duration-ms=@(Model.AutoCloseInXSeconds * 1000)>@Model.AutoCloseInXSeconds</span> seconds...</p>

    <script>
        const delayDurationElement = document.getElementById('delay-duration');
        const decreaseDelayDuration = setInterval(() => {
            delayDurationElement.textContent = parseInt(delayDurationElement.textContent) - 1;
        }, 1000);

        setTimeout(() => {
            clearInterval(decreaseDelayDuration);
            // Go back to previous webpage
            window.history.go(-1);
            // Go-back failed
            window.close();
            // Close failed
            document.getElementById('auto-close-warning').remove();
        }, delayDurationElement.dataset.durationMs);
    </script>
}
