@model String

@* TODO: Duration should be a model property *@

@{
    Layout = null;
}

<p>@Model</p>

<p id="auto-close-warning">Attempting to go back in <span id="delay-duration">9</span> seconds...</p>

<script>
    const decreaseDelayDuration = setInterval(() => {
        document.getElementById('delay-duration').textContent = parseInt(document.getElementById('delay-duration').textContent) - 1;
    }, 1000);

    setTimeout(() => {
        clearInterval(decreaseDelayDuration);
        // Go back to previous webpage
        window.history.go(-1);
        // Go-back failed
        window.close();
        // Close failed
        document.getElementById('auto-close-warning').remove();
    }, 9000);
</script>