@model UnsupportedClientViewModel

<div class="alert alert-warning" role="alert">
    <details>
        <summary>
            <b>@Model.Client.GetSingleDisplayName() is not a supported email client.</b>
        </summary>

        <div class="mt-3 small">Emails may not render correctly. Click on the date at the top of a workout to open it in a browser.</div>
    </details>
</div>
