@page "/newsletter/debug"
@inject AppState AppState
@inject DisplayHelper DH
@inject Services.NewsletterService NewsletterService
@inject NavigationManager Navigation
@using Core.Models.Exercise
@using Core.Models.Newsletter
@using Core.Models.Footnote
@using ViewModels.Exercise
@using ViewModels.Newsletter

@{
    var exerciseNames = string.Join(", ", Model.DebugExercises.GroupBy(e => e.Exercise).Select(g => g.Key.Name));
}

<Lib.Pages.Shared.Newsletter._Preview Model='@($"{exerciseNames}")' />

<div style="margin-block:1rem;">
    <h6 style="margin-block:0;"><i>@DateTime.UtcNow.ToLongDateString()</i></h6>
    <h1 style="margin-block:0;">Debug</h1>
    <h4 style="margin-block:0;display:inline-block;">@exerciseNames</h4>
</div>

<Lib.Pages.Shared.Newsletter.Footnote />

<div style="margin-block:1rem;">
    <Lib.Pages.Shared.Exercise._ExerciseSection Model='@(new ExerciseSectionViewModel(Model.DebugExercises, Verbosity.Debug, ExerciseTheme.Extra))' />
</div>

<div style="margin-block:1rem;">
    <Lib.Pages.Shared.Exercise._Debug/>
</div>

<hr style="margin-block:1ex;">

<Lib.Pages.Shared.Newsletter.Footer AllEquipment="Model.Equipment.AllEquipment" UserEquipment="Model.Equipment.UserEquipment"/>

@code {
    [Parameter]
    public DebugViewModel Model { get; set; } = null!;
}