@inject IOptions<SiteSettings> SiteSettings

<div class="alert alert-dark" role="alert">
    <div class="row gy-2 align-items-center">
        <div class="col">
            <script src="https://liberapay.com/aworkoutaday/widgets/button.js"></script>
            <noscript>
                <a href="https://liberapay.com/aworkoutaday/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a>
            </noscript>
        </div>
        <div class="col-auto">
            <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="aworkoutaday" data-color="#FFDD00" data-emoji="🌻" data-font="Cookie" data-text="Buy me a plant" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
            <noscript>
                <a href="https://www.buymeacoffee.com/aworkoutaday" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee" style="height: 60px !important;width: 217px !important;"></a>
            </noscript>
        </div>
    </div>
</div>
