@inject IOptions<SiteSettings> SiteSettings

<div class="alert alert-dark" role="alert">
    <div class="row gy-2 align-items-center">
        <div class="col">
            <script src="https://liberapay.com/aworkoutaday/widgets/button.js"></script>
            <noscript><a href="https://liberapay.com/aworkoutaday/donate"><img alt="Donate using Liberapay" src="https://liberapay.com/assets/widgets/donate.svg"></a></noscript>
        </div>
        <div class="col-auto">
            <img src="https://img.shields.io/liberapay/goal/aworkoutaday.svg?logo=liberapay">
        </div>
    </div>
</div>
