img {
    vertical-align: unset;
}

::deep form {
    height: 100%;
    display: flex;
}

.btn:disabled {
    opacity: .25;
}

@media (prefers-color-scheme: dark) {
    img {
        filter: invert(.85);
    }
}