@using Controllers
@using Code.Extensions

@{
    Layout = "_Blank";
}

@section Styles {
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
}

<header class="border-bottom box-shadow">
    <div class="container">
        <a class="text-dark row g-1 align-items-center" href="/">
            <div class="col-auto">
                <div class="d-flex justify-content-center site-logo">
                    @Html.Raw(File.ReadAllText(System.IO.Path.Combine(_webHostEnvironment.WebRootPath, "images/favicon-current-color.svg")))
                </div>
            </div>
            <div class="col-auto">
                    Finer Fettle
            </div>
        </a>
    </div>
</header>

<main role="main" class="container">
    @RenderBody()
</main>

<footer class="border-top footer">
    <div class="container">
        <div class="row">
            <div class="col-auto">&copy; 2023 - Finer Fettle -</div>
            <div class="col-auto"><a class="text-muted" asp-controller="@ExerciseController.Name" asp-action="@nameof(ExerciseController.All)">Exercises</a></div>
            <div class="col-auto"><a class="text-muted" asp-area="" asp-page="/Terms">Terms of Use</a></div>
            <div class="col-auto"><a class="text-muted" asp-area="" asp-page="/Privacy">Privacy</a></div>
            <div class="col-auto"><a class="text-muted" asp-area="" asp-page="/ImageAttribution">Attribution</a></div>
            <div class="col-auto"><a class="text-muted" href="https://github.com/gscanlon21/finer-fettle">Source</a></div>
            <div class="col-auto"><a class="text-muted" href="mailto:help@finerfettle.com">Contact Us</a></div>
        </div>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)