@using Controllers
@using Extensions

@{
    Layout = "_Blank";
}

@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
}

<header>
    <nav class="navbar navbar-expand navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand text-dark" href="/">Finer Fettle</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Exercises">Exercises</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <div class="pb-3">
        @RenderBody()
    </div>
</main>

<footer class="border-top footer text-muted">
    <div class="container d-flex flex-wrap">
        <div>&copy; 2023 - Finer Fettle -&nbsp;</div>
        <span><a asp-area="" asp-page="/Terms">Terms of Use</a> |&nbsp;</span>
        <span><a asp-area="" asp-page="/Privacy">Privacy</a> |&nbsp;</span>
        <span><a href="https://github.com/gscanlon21/finer-fettle">Source</a> |&nbsp;</span>
        <span><a asp-area="" asp-page="/ImageAttribution">Attribution</a> |&nbsp;</span>
        <span><a href="mailto:help@finerfettle.com">Contact Us</a></span>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)