/* These do not apply to the app or email newsletters */
/* These only apply to the browser newsletter */
main, body {
    background: rgb(var(--color-bg));
    color: rgb(var(--color-text));
}

html, body {
    scrollbar-color: rgba(var(--color-scrollbar), .75) rgb(var(--color-scrollbar-bg));
}

body {
    margin: .75rem;
}

a {
    color: rgb(var(--color-link))
}

a:focus, a:hover {
    color: rgba(var(--color-link), .75)
}

a:visited {
    color: rgb(var(--color-link-visited))
}
