/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: 51,51,51;
        --color-text: 255,255,255;
        --color-code: 220,220,220;
        --color-code-bg: 30,30,30;
        --color-search: --color-text;
        --color-search-bg: 85,85,85;
        --color-link: 109,182,255;
        --color-link-visited: 182,109,255;
        --color-scrollbar: 136,136,136;
        --color-scrollbar-bg: 68,68,68
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: 255,255,255;
        --color-text: 0,0,0;
        --color-code: --color-text;
        --color-code-bg: 221,221,221;
        --color-search: --color-text;
        --color-search-bg: 221,221,221;
        --color-link: 0,109,219;
        --color-link-visited: 73,0,146;
        --color-scrollbar: 68,68,68;
        --color-scrollbar-bg: 136,136,136
    }
}

header {
    padding: 1rem;
}

main {
    position: relative;
    padding: 1em
}

footer {
    padding: 1rem;
}

h1, h2, h3, h4, h5, p {
    margin: 0
}

a {
    color: rgba(var(--color-link), 1)
}

a:focus, a:hover {
    color: rgba(var(--color-link), 0.5)
}

a:visited {
    color: rgba(var(--color-link-visited), 1)
}

a.unstyled {
    color: unset
}

summary {
    cursor: pointer
}

summary:focus {
    outline: none
}

/********** Layout styles **********/

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.site-logo {
    height: 2rem;
}

/********** General styles **********/

.margin--none {
    margin: 0;
}