
small.smaller {
    font-size: .845em;
    display: inline-flex;
}

small.badge {
    /* Sometimes the text is not centered, try to fix that. */
    padding-block-end: calc(var(--bs-badge-padding-y) * 1.04);
}

.list-group-numbered > li::before {
    position: absolute;
}

.list-group-item:not(.active) {
    border-color: #bcbebf; /* dark:#bcbebf; secondary:#d3d6d8; */
}
