@model DeloadViewModel
@using Core.Models.Exercise

<div class="alert alert-info" role="alert">
    <details>
        <summary>
            @if (Model.NeedsDeload)
            {
                <b>You are currently in a deload week.</b>
            }
            else
            {
                <b>Your next deload week is in @Model.TimeUntilDeload.TotalDays days.</b>
            }
        </summary>

        <div class="mt-3 small">Deloads are weeks of lower intensity workouts. Used to recover from soreness, fatigue, and inflammation by reducing the strain placed upon your body.</div>
    </details>
</div>
