@model EquipmentGroupViewModel
@using Models.Exercise
@using ViewModels.Newsletter
@using Extensions

@{
    var name = Model.User == null 
        ? String.Join("/", Model.EquipmentGroup.Equipment.Select(e => e.Name))
        : String.Join("/", Model.EquipmentGroup.Equipment.IntersectBy(Model.User.EquipmentIds, e => e.Id).Select(e => e.Name));
}

<span>
    @if (String.IsNullOrEmpty(Model.EquipmentGroup.Instruction))
    {
        @:@name
    }
    else 
    {
        <a target="_blank" href="@(Model.User != null ? Url.StillHereLink(Model.User.Email, Model.User.Token, Model.EquipmentGroup.Instruction) : Model.EquipmentGroup.Instruction)">@name</a>
    }
</span>