.btn-caps {
    text-transform: uppercase;
    font-size: smaller;
    padding: 1rem 2rem;
}

.logo {
    height: 100px;
}

.width--min-content {
    width: min-content;
}

::deep .word-break--break-word {
    word-break: break-word;
}

.frc-captcha {
    max-width: unset !important;
    background-color: transparent !important;
    border: none !important;
}