.btn-caps {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: smaller;
    padding: 1rem 2rem;
}

.logo {
    height: 100px;
}

.width--min-content {
    width: min-content;
}

::deep .word-break--break-word {
    word-break: break-word;
}

.frc-captcha {
    max-width: unset !important;
    background-color: transparent !important;
    border: none !important;
}

.demo-frame {
    height: 75vh;
    visibility: hidden;
}

@media (prefers-color-scheme: dark) {
    ::deep .frc-icon {
        fill: rgb(var(--color-text)) !important;
        stroke: rgb(var(--color-text)) !important;
    }

    ::deep .frc-text {
        color: rgb(var(--color-text)) !important;
    }

    ::deep .frc-button {
        border: 1px solid rgba(var(--color-text), .75) !important;
        color: rgb(var(--color-text)) !important;
        background-color: transparent;
    }

    ::deep .frc-button:hover {
        border: 1px solid rgba(var(--color-text), .5) !important;
        color: rgba(var(--color-text), .75) !important;
        background-color: transparent;
    }
}
