@using FinerFettle.Web.Models.Exercise
@model ViewModels.Newsletter.NewsletterViewModel

@{
    ViewData["Title"] = "Newsletter";
}

<h1>Newsletter</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercises[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Exercises) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="~/img/@(item.Code).webp" width="200" height="200">
            </td>
        </tr>
}
    </tbody>
</table>
