@using FinerFettle.Web.Models.Exercise
@using Extensions
@model ViewModels.Newsletter.NewsletterViewModel

@{
    ViewData["Title"] = "Newsletter";
}

<h1>Newsletter</h1>

@if (Model.Exercises != null && Model.Exercises.Any()) {
    @await Html.PartialAsync("Exercises", Model.Exercises)
}
else {
    @await Html.PartialAsync("Rest")
}

<hr />

@await Component.InvokeAsync("Footnote")

<div>
    <a href="@Url.AbsoluteContent("~/images/ATTRIBUTION.html")">Image attribution</a>
</div>