@model IList<ViewModels.Newsletter.ExerciseViewModel>
@using Microsoft.AspNetCore.Http.Extensions
@using Extensions
@using Models.Exercise
@using ViewModels.Newsletter

<div style="display:flex;flex-flow:row wrap;gap:1ch;">
@foreach (var item in Model) {
    @await Component.InvokeAsync("Exercise", new { Exercise = item })
}
 </div>
