@model ViewModels.User.RefreshViewModel
@using Models.Exercise

@if (!Model.NeedsFunctionalRefresh)
{
    <div class="alert alert-info" role="alert">
        <div>Functional exercises will refresh in @Model.TimeUntilFunctionalRefresh.TotalDays days.</div>
    </div>
}

@if (!Model.NeedsAccessoryRefresh)
{
    <div class="alert alert-info" role="alert">
        <div>Accessory exercises will refresh in @Model.TimeUntilAccessoryRefresh.TotalDays days.</div>
    </div>
}