@using Extensions

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Finer Fettle</title>

    <link rel="icon" type="image/svg+xml" href="@Url.AbsoluteContent("/favicon.svg")">
    <link rel="icon" type="image/png" href="@Url.AbsoluteContent("/favicon.png")">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>