@inject NewsletterState AppState
@using Core.Models.Exercise

@if (Model.RehabFocus != RehabFocus.None)
{
    <div style="background-color:floralwhite;padding:1rem;margin-top:1.5rem;margin-bottom:-.5rem;">
        <span>You have a recovery group selected. This workout is excluding exercises that may stress your @Model.RehabFocus.GetSingleDisplayName().</span>
    </div>
}

@code {
    [Parameter]
    public ViewModels.User.UserNewsletterViewModel Model { get; set; } = null!;
}