@using Core.Models.Exercise
@using Core.Dtos.User

@if (User.RehabFocus != RehabFocus.None)
{
    <div style="background-color:floralwhite;padding:1rem;margin-top:1.5rem;margin-bottom:-.5rem;">
        <span>You have a Rehab Focus group selected. This workout is excluding exercises that work your @User.RehabFocus.GetSingleDisplayName().</span>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public UserNewsletterDto User { get; set; } = null!;
}