@using Lib.ViewModels.Newsletter;

@if (Model.IsDeloadWeek)
{
    <div style="background-color:lightyellow;padding:1rem;margin-top:1.5rem;margin-bottom:-.5rem;">
        <span>It's time to deload! Scale down the intensity of your workout by ~50%. Use this week to recover from soreness, fatigue, and inflammation by reducing the strain placed upon your body.</span>
    </div>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public NewsletterEntityViewModel Model { get; set; } = null!;
}