@inject DisplayHelper DH
@using Core.Models.Options
@using Core.Models.User
@using Core.Models.Equipment
@using Core.Dtos.User

@if (User.IsAlmostInactive)
{
    <div style="background-color:antiquewhite;padding:1rem;margin-block:1rem;">
        <span>Your account will soon be automatically deactivated. <a target="_blank" href="@DH.UserActiveLink(User)">Click here to continue receiving workouts</a>.</span>
    </div>
}

@if (User.Equipment == Equipment.None)
{
    <div style="background-color:antiquewhite;padding:1rem;margin-block:1rem;">
        <div>This workout is missing equipment. Select what you have available to work out with in your <a target="_blank" href="@DH.UserLink(User, "")">preferences</a>.</div>
    </div>
}

@if (User.IsNewlyCreated)
{
    <div style="background-color:antiquewhite;padding:1rem;margin-block:1rem;">
        <span>Click on the &#127760; to manage an exercise and its variations. This message will disappear soon.</span>
    </div>
}
else if (User.Features.HasFlag(Features.Demo))
{
    <div style="background-color:antiquewhite;padding:1rem;margin-block:1rem;">
        <span>Click on the &#127760; to manage an exercise and its variations.</span>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public UserNewsletterDto User { get; set; } = null!;
}
