@inject DisplayHelper DH
@inject IOptions<SiteSettings> SiteSettings
@using Core.Models.Options
@using Microsoft.Extensions.Options
@using Core.Models.Equipment
@using Core.Dtos.User

@if (User.IsAlmostInactive)
{
    <div style="background-color:antiquewhite;padding:1rem;margin-block:1rem;">
        <span>Your account will soon be automatically deactivated. <a target="_blank" href="@DH.UserActiveLink(User)">Click here to continue receiving workouts</a>.</span>
    </div>
}

@if (User.Equipment == Equipment.None)
{
    <div style="background-color:antiquewhite;padding:1rem;margin-block:1rem;">
        <div>This workout is missing equipment. Select what you have available to work out with in your <a target="_blank" href="@DH.UserLink(User, "")">preferences</a>.</div>
    </div>
}

@code {
    [Parameter, EditorRequired]
    public UserNewsletterDto User { get; set; } = null!;
}
