@model EquipmentGroup
@using Models.Exercise

@{
    var name = String.Join("/", Model.Equipment.Select(e => e.Name));
}

<span>
    @if (Model.Instruction != null) 
    {
        <a target="_blank" href="@Model.Instruction">@name</a>
    }
    else 
    {
        @:@name
    }
</span>