@model WorkoutSplitViewModel
@using Core.Models.Exercise

<h5 class="mb-1">Workout Split</h5>
<div class="alert alert-primary" role="alert">
    @foreach (var rotation in Model.CurrentAndUpcomingRotations.OrderBy(r => r.Id))
    {
        <div class="small">@rotation.ToUserString(includeDay: true)</div>
    }
</div>
