@model WorkoutSplitViewModel
@using Core.Models.Exercise

<h5 class="mb-1">Workout Split</h5>
<div class="alert alert-primary" role="alert">
    <ul class="m-0" style="padding-inline-start:2ch;">
        @foreach (var rotation in Model.CurrentAndUpcomingRotations.OrderBy(r => r.Id))
        {
            <li class="small">@rotation.ToUserString(includeDay: true)</li>
        }
    </ul>
</div>
