@model IList<Models.Footnotes.Footnote>

<figure style="margin-left:0;">
    <figcaption><h5 style="margin-bottom:0;">Notes</h5></figcaption>
    <ul>
        @foreach (var note in Model)
        {
            <li>@Html.DisplayFor(m => note.Note)</li>
        }
    </ul>
</figure>

