@model IList<Models.Footnotes.Footnote>

<figure>
    <figcaption>Footnotes:</figcaption>
    <ul>
    @foreach (var note in Model)
    {
        <li>@Html.DisplayFor(m => note.Note)</li>
    }
    </ul>
</figure>

